body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
} 

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    /* max-width: 1158px;
    padding: 0 15px; */
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.section {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42
}

.section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* HEADER */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.header-logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link.current {
    position: relative;
}

.header-nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-contacts {
    font-style: normal;
    margin-left: auto;
}

.header-contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover, .header-contacts-link:hover,
.header-nav-link:focus, .header-contacts-link:focus, .header-nav-link.current {
    color: #404bbf;
}

/* -- */

/* HERO */
.section-hero {
    max-width: 1440px;
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.section-hero-title {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.section-hero-button, .form-button {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-hero-button:hover,
.section-hero-button:focus,
.form-button:hover,
.form-button:focus {
    background-color: #404BBF;
}

/* -- */

/* ADVANTAGES */

.section-advantages-list {
    /* display: flex;
    gap: 24px; */
}

.section-advantages-item {
    /* width: calc((100% - 72px) / 4); */
    width: 100%;
    margin-bottom: 72px;
}
.section-advantages-item:last-child {
    margin-bottom: 0;
}

.advantages-picture {
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.advantages-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.advantages-item-text {
    font-weight: 500;
}

/* -- */

/* TEAM */

.section-team {
    background-color: #f4f4fd;
}

.section-team-list {
    /* display: flex;
    align-items: center;
    gap: 24px; */
}

.section-team-item {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    /* width: calc((100% - 72px) / 4); */
    width: 100%;
    margin-bottom: 72px;
}

.section-team-item-card {
    width: 100%;
    object-fit: cover;
}

.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
}

.team-subtitle {
    margin-bottom: 8px;
    text-align: center;
}

.team-item-text {
    text-align: center;
    margin-bottom: 8px;
}

.team-soc-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    max-width: 100%;
}

.team-soc-item {
    width: 40px;
    height: 40px;  
}

.team-soc-link:hover, .team-soc-link:focus {
    background-color: #404bbf;
}

.team-soc-link {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
    fill: #f4f4fd;
}
/* -- */

/* PORTFOLIO */
.section-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.thumb {
    position: relative;
    overflow: hidden;
}

.portrfolio-over-text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;    
}
.section-portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio-item:hover .portrfolio-over-text {
    transform: translateY(0);
}
.section-portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.portfolio-subtitle {
    margin-bottom: 8px;
}

/* -- */

/* FOOTER */

.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-slogan {
    margin-right: 120px;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}
.footer-socials {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 208px;
}

.socials-text {
    font-weight: 500;
    margin-bottom: 16px;
    align-self: flex-start;
    color: #fff;
    max-width: 208px;
}

.footer-soc-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 8px;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #31d0aa;
}

.footer-soc-icon {
    fill: #f4f4fd;
}

.footer-form {
    margin-left: auto;
}

.footer-form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.form-text {
    margin-bottom: 16px;
    font-weight: 500;
    color: #fff;
    align-self: start;
}

.footer-input {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 8px 16px;
    width: 264px;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    outline: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
    border-color: #31d0aa;
}

.footer-input::placeholder {
    color: #fff;
}

.footer-btn {
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn-icon {
    fill: #fff;
    margin-left: 16px;
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: #31d0aa;
}

/* -- */

.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal {
    width: 408px;
    min-height: 584px;
    overflow-y: auto;
    border-radius: 4px;
    background-color: #fcfcfc;
    padding: 72px 24px 24px 24px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay:not(.is-open) .modal {
    transform: translate(-50%, 100%);
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: none;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.close-btn-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover, .close-btn:focus {
    background-color: #404bbf;
    border: none;
}
.close-btn:hover .close-btn-icon,
.close-btn:focus .close-btn-icon {
    fill: #FFFFFF;
}
.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-field {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 8px;
}

.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.input-wrapper {
    position: relative;
    width: 360px;
}

.form-input {
    font-family: inherit;
    padding-left: 38px;
    padding-right: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment {
    margin-bottom: 16px;
}
.comment-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    width: 100%;
    min-height: 120px;
    padding: 8px 16px;
    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.comment-input:focus {
    border-color: #4D5AE5;
}

.form-input:focus + .form-icon {
    fill: #4d5ae5;
}

.comment-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-check {
    margin-bottom: 24px;
}

.check-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-check {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.real-check:checked + .check-text > .privacy-check {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.privacy-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5; 
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .section-advantages-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .section-advantages-item {
        width: calc((100% - 24px) / 2);
        margin-bottom: 0;
    }

    .advantages-subtitle {
        text-align: left;
    }

    .section-team-list {
        display: flex;
        flex-wrap: wrap;
        gap: 64px 24px;
    }

    .section-team-item {
        width: calc((100% - 24px) / 2);
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .section-advantages-item {
        width: calc((100% - 72px) / 4);
    }
    .advantages-picture {
        display: flex;
    }

    .advantages-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    
    .section-text {
        font-weight: 400;
    }

    .section-team-list {
        align-items: center;
        gap: 24px;

    }
    .section-team-item {
    width: calc((100% - 72px) / 4);
    margin-bottom: 0;
    }
}